* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body{
  background-image: url('/bg1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}
.container{
  display: flex;
  height: 100vh;
  /* width: 100vw; */
  
  background-color: rgba(44, 44, 65, 0.828);
  backdrop-filter: blur(1px);
  border-radius: 5px;
  border: 1px solid rgba(203, 201, 201, 0.125);
  
}